body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.top-buffer {
    margin-top:50px;
}

p.intro-note {
    color: #D3D3D3;
    font-size: 14px;
}

.intro-heading {
    font-family: "Lobster", serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}
